* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Harry Potter";
    letter-spacing: 2px;
}

@font-face {
    font-family: "Harry Potter";
    src: url("/Front/Fonte/HARRYP__.TTF");
}

html {
    overscroll-behavior: none;
}

body {
    height: 100%;

    background-image: url(/Front/Imagem/fundo.jpg);
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    margin: 30px 0;
}

h1 {
    font-family: "Harry Potter", serif;
    font-size: 140px;
    color: #3d1c1c;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 7px;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CARDS */

.card {
    background: rgba(252, 233, 226, 0.92);
    border: 1px solid #b46d6d;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
}

.card h3 {
    color: #5a1e1e;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid #863030;
    font-size: 40px;
}

.cardResp{
    display:flex;
    gap:25px;
    padding:20px;
    margin-top:20px;
    border:1px solid #9b2c2c;
    border-radius:10px;
    background:#f5e1da;
    align-items:flex-start;
    font-size: 30px;
}

.cardResp img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.infoReceita{
    flex: 1;
}

.infoReceita h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.infoReceita p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.infoReceita strong{
    color: #7d1e1e;
}

.respErrado{
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #dc3545;
    font-size: 40px;
}

/* FORMULÁRIO */

label {
    display: block;
    margin-bottom: 8px;

    font-size: 1.1rem;
    font-weight: bold;

    color: #333;
    font-size: 35px;
}

input[type="text"], input[type="number"] {
    width: 100%;

    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #c7b7b7;
    border-radius: 8px;

    font-size: 30px;
}

/* BOTÕES */

button {
    padding: 12px 20px;

    border: none;
    border-radius: 8px;

    background-color: #a12a2a;
    color: white;

    font-size: 25px;
    font-weight: bold;

    cursor: pointer;

    
}

button:hover {
    background-color: #7c1f1f;
    transform: translateY(-2px);
}

/* RESULTADOS */

.resultado {
    margin-top: 15px;
    padding-top: 10px;

    border-top: 1px solid #d9b8b8;

    line-height: 1.6;
}

/* FOOTER */

footer {
    margin: 30px 0 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

